.auth-back-button {
    background-color: transparent;
    font-size: 14px;
    border: none;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
    color: asset('color', 'theme');
    width: max-content;

    span {
        display: flex;
    }

    &__icon {
        font-size: 14px;
    }
}