&__resize {
    position: absolute;
    top: 0;
    right: -6px;
    bottom: 0;
    width: 8px;
    display: flex;
    justify-content: flex-start;
    padding-left: 2px;
    cursor: col-resize;
    user-select: none;
    z-index: 1002;

    &-line {
        width: 2px;
        height: 100%;
    }

    &:hover &-line {
        background-color: #b1befa;
    }

    &[is-active]:not([is-active=false]) &-line {
        background-color: #8c9ffc;
    }
}