$sidebar-width: 260px;
$topbar-height: 52px;

$sidebar-map: (
    width: 260px,
    compact-width: 86px
);

$topbar-map: (
    height: 52px
);

$shared-map: (
    sidebar: $sidebar-map,
    topbar: $topbar-map
);

@function shared($keys...) {
    $map: $shared-map;

    @each $key in $keys {
        @if (map-has-key($map, $key)){
            $map: map-get($map, $key);
        }
        @else {
            @return unknown;
        }
    }
    @return $map;
}