&-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    cursor: pointer;

    &:hover {
        background-color: asset('color', 'hover-dark');
    }

    &-left {
        display: flex;
        align-items: center;
        gap: 14px;
    }

    &-icon {
        font-size: 16px;
        display: flex;
    }

    &-text {
        font-size: to-rem(14);
    }

    &-shortcut {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: to-rem(12);
        background-color: #f1f1f1;
        // border: 1px solid #dbdbdb;
        padding: 4px 6px;
        border-radius: 3px;

        &-key {
            display: flex;

            &--icon {
                font-size: to-rem(10);
            }
        }
    }
}