.project-select-menu {

    &--project-status {
        overflow: hidden;
    }

    &-last-project-status {
        position: relative;
        cursor: pointer;
        margin-bottom: 10px;
        border-bottom: 1px solid asset('color', 'border');

        &:hover {
            background-color: asset('color', 'hover-dark');
        }

        &-bar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 8px;
            background-color: red;
        }

        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 12px;
        padding-top: 16px;

        &-label {
            font-size: to-rem(13);
            margin-bottom: 8px;
            margin-left: -4px;
            color: #797979;
            font-weight: 500;
        }

        &-info {
            padding-left: 2px;
        }

        &-name {
            font-weight: 500;
        }

        &-additional-info {
            display: flex;
            gap: 6px;
            align-items: center;
            margin-top: 8px;
            color: #949494;

            &-item + &-item {
                padding-left: 10px;
                position: relative;

                &::before {
                    content: "•";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    font-size: 8px;
                }
            }
        }

        &-owner {
            display: flex;
            align-items: center;
            gap: 4px;

            &-icon {
                width: 14px;
                height: 14px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            &-name {
                font-size: to-rem(12);
            }
        }

        &-time {
            font-size: to-rem(12);
        }
    }
    
    &-item-project-status {
        display: flex;
        align-items: center;
        gap: 8px;
        border: 1px solid #E6E6E6;
        height: 26px;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 35px;

        &-circle {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 8px;
            border: 1px solid transparent;

            // &--icon {
            //     border-width: 1px;
            // }
        }

        &-text {
            font-size: to-rem(12);
        }
    }
}