&__enable-push-notification-alert {
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #4CAF50;

    &-section {
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 12px;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 38px;
        background-color: #4CAF50;
        color: white;
        padding-left: 12px;
        padding-right: 12px;
    }

    &-heading {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: to-rem(14);
    }

    &-icon {
        width: 25px;
        height: 25px;
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 14px;

    }

    &-close-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
        background-color: transparent;
        color: white;

        border-radius: 50%;
    }

    &-body {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 8px;
    }

    &-message {
        line-height: 1.2;
        font-size: to-rem(14);
    }

    &-footer {
        margin-top: 6px;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 8px;
        padding-top: 8px;
        padding-right: 16px;
        padding-left: 16px;
        gap: 8px;

        button {
            padding: 4px 16px;
            border-radius: 35px;
            height: 32px;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: to-rem(14);
        }
    }

    &-cancel-button {
        // border: 1px solid #eee !important;
        background-color: #eee;
    }

    &-enable-button {
        background-color: asset('color', 'theme');
        color: white;
    }

}