&-title {
    font-family: asset('font', 'heading');
    font-weight: 400;
    font-size: 12px;
    margin-left: 12px;
    margin-bottom: 6px;
    width: max-content;
    color: #757575;
    // color: asset('color', 'theme');
    letter-spacing: 0.6px;
    // display: none;

    &[is-disabled=true] {
        display: none;
    }

    &:empty {
        display: none;
    }
}