&__option-list {

    @import 'group-title';

    &-container {
        padding-left: 6px;
        padding-right: 6px;
    }

    &-item {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // height: 34px;
        border-radius: 4px;
        cursor: pointer;
        gap: 8px;

        &[has-secondary-text=true] {
            height: max-content;
        }

        &:hover {
            background-color: asset('color', 'hover-dark');
        }

        &[is-danger=true]:hover {
            background-color: rgb(251 152 145 / 16%);
        }

        &-column {
            display: flex;
            gap: 16px;
            align-items: center;

        }

        &[has-secondary-text=true] &-column {
            align-items: flex-start;
        }

        &-icon {
            font-size: 16px;
            display: flex;
            color: #727279;
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: 8px;

            &--primary {
                color: #2e363d;
                font-size: to-rem(14);
            }

            &--secondary {
                font-size: to-rem(12);
                font-weight: 300;
                color: #8f8f91;
            }
        }

        &[is-danger=true] &-icon, &[is-danger=true] &-text--primary{
            color: asset('color', 'logout');
        }

        &-submenu-indicator-icon {
            font-size: 12px;
            display: flex;
        }
    }
}

&__option-list:not(:last-child) {
    padding-bottom: 10px;
    border-bottom: 1px solid $divider-color;
}

&__option-list + &__option-list {
    margin-top: 10px;
}