&__history {
    &-header {
        display: flex;
        justify-content: space-between;
        padding-left: 8px;
        padding-right: 16px;
        border-bottom: 1px solid asset('color', 'border');
        // height: 40px;
        // align-items: center;
        // padding-top: 4px;
        padding-bottom: 12px;

        &-go-back-button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            color: #838383;

            &-icon {
                display: flex;
                font-size: 15px;
            }

            &:hover {
                background-color: asset('color', 'hover-dark');
            }
        }

        &-heading {
            font-size: to-rem(18);
            font-weight: 500;
            font-family: asset('font', 'heading');
        }

        &-left, &-right {
            display: flex;
            align-items: center;
        }

        &-left {
            gap: 4px;
        }
    }

    &-clear-button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        color: asset('color', 'delete');
        display: flex;
        align-items: center;
        gap: 4px;
        font-family: asset('font', 'heading');

        &-icon {
            font-size: 12px;
            display: flex;
        }

        &-text {
            font-size: to-rem(12);
        }
    }

    &-break {
        position: relative;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-top: 12px;
        margin-bottom: 12px;
        padding-left: 8px;
        padding-right: 8px;

        &-line {
            width: 100%;
            height: 1px;
            background-color: asset('color', 'border');
            display: flex;
        }

        &-date {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 12px;
            color: #838383;
            background-color: white;
            padding-left: 6px;
            padding-right: 6px;
            font-family: asset('font', 'heading');
        }
    }

    &-body {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 20px;
        padding-bottom: 8px;
    }
}